.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1.5em
    }
.calibre_1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre_3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 15px
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-family: serif
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-family: Dutch801 Rm BT Roman;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre5 {
    font-family: Dutch801 Rm BT Roman;
    font-size: 1em
    }
.calibre6 {
    font-family: Dutch801 Rm BT Roman;
    font-size: 0.75em
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

